/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 23%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.addBtn:hover {
  background-color: chartreuse;
}
